.disalan{
    display: inline-block;
    width: 90%;
    margin-top: 1%;
    margin-left: 2%;
    background-color:rgb(245, 202, 94);
  }
  
  .ad{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
     
  }
  
  .isbn{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
  }
  
  .rafkod{
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 3%;
  }
   
 
  
    .yazar{
      margin-left: 2%;
    }
    .yayinci{
      margin-left: 2%;
    }
    .kategory{
      margin-left: 2%;
    }

    .modal-title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    
    .modal-body {
      font-size: 1rem;
    }

