.outside{
background-color:#98FB98;
margin-right: 8.2%;
margin-left: 8.2%;
margin-top: 5px;
}

.send{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #32CD32;
    color: white;
}

.delete{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #912d2d;
    color: white;
}

.show{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color:#b9b940;
    color: white;
}