.disalan{
    background-color:#98FB98;
    margin-right: 8.2%;
    margin-left: 8.2%;
    margin-top: 5px;
    }
    
    .name{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
         
    }
    
    .lastname{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
         
    }
    
    .email{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
         
    }
    
    .password{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
         
    }
    
    .score{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
         
    }
    
    .phoneNumber{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    
    .address{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    
    .kaydet{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
        background-color:greenyellow;
         
    }
    
    .sil{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
        background-color: red;
    }
    
    .disalan2{
        background-color:#98FB98;
        margin-right: 8.2%;
        margin-left: 8.2%;
       
    }
    
    .kullanici{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
    }
    
    .kullanicisilmek{
        background-color:rgb(236, 109, 62)
    }
    
    .evet{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
        background-color:greenyellow;
    }
    
    .hayir{
        margin-top: 2%;
        margin-left: 2%;
        margin-bottom: 3%;
        background-color: red;
    }