$color1:rgb(197, 99, 194);
$color2:#98FB98;
$color3:#32CD32;
$color4:#b9b940;
$color5:#912d2d;

/*BOOTSTRAP*/

$danger: $color5;
$warning:$color4;
$success:$color3;
$info:$color2;
$secondary:$color1;
$font-family-sans-serif:"Open+Sans";

